*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding:  40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
.row button{
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.listcontainer > .todo-app button {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #8b4343;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li.is-important::before {
    content: "*";
    margin-right: 5px;
    color: #f91900;
  }

input[type="text"]:focus {
    border: 0.5px solid #419de4;
    border-radius: 20px;
    text: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .completed-checkbox {
    position: absolute;
    left:  0;
    width: 20px;
    height: 20px;
    order: 1;
    margin-left: 10px;
  }
  .completed-checkbox:checked + span + input {
    text-decoration: line-through;
    color: #555;
  }
  ul li button{
    position: absolute;
    right: 40px;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #ec0e0e;
    border-color: #dd809d;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.new-class::before {
    content: "*";
    color: #c40441;
  }
